.blog-container {
    display: flex;
    height: 17rem;
    width: 100%;
    gap: 2rem;
}
.lead-text{
    margin-top: 1rem;
}
.blog-desc{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}